# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from time import sleep

import warnings
warnings.filterwarnings('ignore')

In [41]:
#First connect to web driver
driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")

# sending URL to webdriver
url = 'https://www.naukri.com/'
driver.get(url)

# search for searchjob_tag
search_job = driver.find_element_by_class_name("suggestor-input ")
search_job

#placing the data in job search
search_job.send_keys("Data Analyst")

# search for the location bar
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")

#locating the data in search location 
search_loc.send_keys("Bangalore")

#getting the  submit button link
search_btn =driver.find_element_by_class_name('qsbSubmit')

#click on the submit button
search_btn.click()

In [42]:
#Extracting the details
#getting the title web elements

tle_t = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
# extracting only 10 web elements
title = []
for i in tle_t:
    title.append(i.text)
title

# extracting webelement of company name
compny_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

# Converting webelements into text format
company = []
for i in compny_tag:
    company.append(i.text)
company

exp = driver.find_elements_by_xpath('//span[contains (@title,"Yrs")]')
#collecting only 10 web elements
experience = []
for i in exp:
    experience.append(i.text)
experience

#extracting the salary_tag web elements
sal = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
#collecting only 10 web elements
salary = []
for i in sal:
    salary.append(i.text)
salary    

#extracting the location_tag web elements
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location = []
for i in loc:
    location.append(i.text)
location

#extracting the description web elements
dis = driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')
#converting web elements into text format
discription = []
for i in dis:
    discription.append(i.text)
discription

['Proficient in Cisco system posting and / or distribution of reporting as defined or req...',
 'Experience in handling large data volumes. Strong skills in SQL coding writing complex ...',
 'Understands the underlying business problem to define the required data and appropriate...',
 'About the role:Data Analyst is an Individual Contributor role where you will be respons...',
 'Strong knowledge of and experience with reporting tools such as Tableau, Google Looker,...',
 'This role will provide YOU the opportunity to lead key activities to progress YOUR care...',
 'The candidate will be required to interface with various business strategy and executio...',
 'Individual must be organized, dependable, able to multi-task and manage priorities, dis...',
 'Freshers are welcomeAny certification on Excel is preferred Should be diligent, hard-wo...',
 'Perform data-mining and analysis using tools including MS Excel, MySQL, SQL, Python and...',
 'Bachelors degree in Management of Information Systems (MIS), Mathematics, Statistics, C...',
 'Accountable for external client relationship Manage complex client projects in environm...',
 'Job Purpose Shell is implementing Data Cataloguing throughout the organization. As the ...',
 'Experience in data mining techniques and methodologies (data prep / modeling, classific...',
 'A minimum of 3 years of experience in the field of Data Analysis, Data VisualizationSki...',
 'Pull data required to conduct business analysis, build reports, dashboards and metrics ...',
 'Individual must be organized, dependable, able to multi-task and manage priorities, dis...',
 'First and foremost, use first principles thinking, data and analytical skills to genera...',
 'We are seeking a Marketing Data Analyst who will deliver insights to the broader market...',
 'These checks and reviews are made in strict accordance with regulatory requirement and ...']

In [43]:
#Making DataFrame
data= pd.DataFrame({'Job_Title':title[:10],
                   'Company_name':company[:10],
                   'Experience':experience[:10],
                   'Salary':salary[:10],
                   'Location':location[:10],
                   'Discription':discription[:10]})
data

,Job_Title,Company_name,Experience,Salary,Location,Discription
0,QA Data Analyst,Ralph Lauren,0-3 Yrs,Not disclosed,Bangalore/Bengaluru,Proficient in Cisco system posting and / or di...
1,Senior Data Analyst,Flipkart,4-6 Yrs,Not disclosed,Bangalore/Bengaluru,Experience in handling large data volumes. Str...
2,Data Analyst,Ericsson Global Services,10-20 Yrs,Not disclosed,Bangalore/Bengaluru,Understands the underlying business problem to...
3,Data Analyst,Flipkart,1-6 Yrs,Not disclosed,Bangalore/Bengaluru,About the role:Data Analyst is an Individual C...
4,Senior Data Analyst - Data Modeling/Database D...,K & R Enterprises,4-6 Yrs,Not disclosed,Bangalore/Bengaluru,Strong knowledge of and experience with report...
5,Data analyst,GSK India,5-9 Yrs,Not disclosed,Bangalore/Bengaluru,This role will provide YOU the opportunity to ...
6,Data Analyst,GSK India,7-10 Yrs,Not disclosed,Bangalore/Bengaluru,The candidate will be required to interface wi...
7,Financial Data Analyst,Moody's,0-2 Yrs,Not disclosed,Bangalore/Bengaluru,"Individual must be organized, dependable, able..."
8,Data Analyst,Aldius Consulting Services Pvt Ltd (Paramantra),0-2 Yrs,"2,00,000 - 3,50,000 PA.",Bangalore/Bengaluru,Freshers are welcomeAny certification on Excel...
9,OYO Rooms - Data Analyst / Business Analyst,OyoRooms,2-6 Yrs,Not disclosed,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Perform data-mining and analysis using tools i...

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [4]:
#First connect to web driver
driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")

# sending URL to webdriver
url = 'https://www.naukri.com/'
driver.get(url)

# search for searchjob_tag
search_job = driver.find_element_by_class_name("suggestor-input ")

#placing the data in job search
search_job.send_keys('Data Scientist')

# search for the location bar
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")

#locating the data in search location 
search_loc.send_keys("Bangalore")

#getting the  submit button link
search_btn =driver.find_element_by_class_name('qsbSubmit')

#click on the submit button
search_btn.click()

# Extracting the details

In [13]:
#Title

tle_t = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title = []
for i in tle_t:
    title.append(i.text)
title

#Company_name
company = []
company_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tag:
    company.append(i.text)
company

#experience
exp = driver.find_elements_by_xpath('//span[contains (@title,"Yrs")]')
experience = []
for i in exp:
    experience.append(i.text)
experience

#extracting the salary_tag web elements
sal = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
salary = []
for i in sal:
    salary.append(i.text)
salary

#extracting the location_tag web elements
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location = []
for i in loc:
    location.append(i.text)
location

#extracting the description web elements
dis = driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')
discription = []
for i in dis:
    discription.append(i.text)
#discription

# DataFrame
data= pd.DataFrame({'Job_Title':title[:10],
                   'Company_name':company[:10],
                   'Experience':experience[:10],
                   'Salary':salary[:10],
                   'Location':location[:10],
                   'Discription':discription[:10]})
data

,Job_Title,Company_name,Experience,Salary,Location,Discription
0,Global Tax Automation & Operations - Data Scie...,Dell,3-5 Yrs,Not disclosed,Bangalore/Bengaluru,"As you develop in this role, and become more f..."
1,Analyst / Data Scientist,MilliporeSigma,2-5 Yrs,Not disclosed,Bangalore/Bengaluru,Bachelor s Degree in Computer Science / Statis...
2,Data Scientist: Advanced Analytics,IBM,5-10 Yrs,Not disclosed,Bangalore/Bengaluru,"As a Data Scientist at IBM, you will help tran..."
3,Data Scientist: Advanced Analytics,IBM,2-5 Yrs,Not disclosed,Bangalore/Bengaluru,"As a Data Scientist at IBM, you will help tran..."
4,Senior Data Scientist,Siemens,3-8 Yrs,Not disclosed,Bangalore/Bengaluru,You have a masters degree in information techn...
5,Senior Data Scientist,Sabre,3-5 Yrs,Not disclosed,Bangalore/Bengaluru,Responsibilities Work with subject matter expe...
6,Senior Data Scientist (Fintech),NIRA,4-6 Yrs,"25,00,000 - 35,00,000 PA.",Bangalore/Bengaluru,Company: NIRA Senior Data ScientistRoles & Res...
7,Senior Data Scientist,Shell,6-11 Yrs,Not disclosed,"Chennai, Bangalore/Bengaluru",Experience in developing end-to-end models usi...
8,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,Not disclosed,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",PhD / Masters in Computer Science / Statistics...
9,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,Not disclosed,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",PhD / Masters in Computer Science / Statistics...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

In [16]:
#First connect to web driver
driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")

# sending URL to webdriver
url = 'https://www.naukri.com/'
driver.get(url)

# search for searchjob_tag
search_job = driver.find_element_by_class_name("suggestor-input ")

#placing the data in job search
search_job.send_keys('Data Scientist')

#getting the  submit button link
search_btn =driver.find_element_by_class_name('qsbSubmit')

#click on the submit button
search_btn.click()

In [19]:
# clicking filter by selecting location check_box using absoulte path
search_loc = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p")
search_loc.click()


# clicking filter by selecting check boxes using absoulte path
salary_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p")
salary_check.click()

# Extracting the details

In [23]:
#Title
tle_t = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title = []
for i in tle_t:
    title.append(i.text)
title

#company name
company_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company = []
for i in company_tag:
    company.append(i.text)
company

#experience
exp = driver.find_elements_by_xpath('//span[contains (@title,"Yrs")]')
experience = []
for i in exp:
    experience.append(i.text)
experience

#salary
sal = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
salary = []
for i in sal:
    salary.append(i.text)
salary

#location
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location = []
for i in loc:
    location.append(i.text)
location

#DataFrame

data= pd.DataFrame({'Job_Title':title[:10],
                   'Company_name':company[:10],
                   'Experience':experience[:10],
                   'Salary':salary[:10],
                   'Location':location[:10],
                   })
data

,Job_Title,Company_name,Experience,Salary,Location
0,Data Scientist,NAVIKENZ INDIA PRIVATE LIMITED,2-5 Yrs,Not disclosed,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
1,Data Scientist-Onsite and offshore,PROKXIMITY,3-8 Yrs,Not disclosed,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
2,Data Scientist | A Fintech Organisation,Vision Beyond Resources India Private Limited,2-7 Yrs,"5,00,000 - 15,00,000 PA.",Gurgaon/Gurugram
3,Data Scientist (freelance),2Coms,2-7 Yrs,"4,75,000 - 9,75,000 PA.","New Delhi, Delhi"
4,Data Scientist,CHANGE LEADERS CONSULTING,3-8 Yrs,Not disclosed,New Delhi
5,Data Scientist,DECISION POINT PRIVATE LIMITED,1-6 Yrs,Not disclosed,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)"
6,Data Scientist,Alp Consulting Limited,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
7,Data & Applied Scientist,Microsoft,3-7 Yrs,Not disclosed,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
8,Data and applied Scientist,Microsoft,3-7 Yrs,Not disclosed,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
9,Data Scientist,Cloudstrats Technologies Private Limited,3-5 Yrs,Not disclosed,"New Delhi, Delhi / NCR, Mumbai (All Areas)"

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
Brand
Product Description
Price

In [24]:
#First connect to web driver
driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")

# sending URL to webdriver
url = 'https://www.flipkart.com/'
driver.get(url)

#closing the popup
popup_btn =driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
popup_btn.click()

#search bar web element
search = driver.find_element_by_class_name("_3704LK ")
search

# entering the search option
search.send_keys('sunglasses')

#getting the webelements of the search icon
search_btn =driver.find_element_by_class_name('L0Z3Pu')

#click on the search button
search_btn.click()

# Extracting the data from the resultant search

In [33]:

title = []
description = []
cost = []
offer = []

for i in range(3):
    #print("page :",(i+1))
    titles = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in titles:
          title.append(i.text)
    description_s = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in description_s:
        description.append(i.text)
    cost_s = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in cost_s:
        cost.append(i.text)
    offer_s = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in offer_s:
        offer.append(i.text)
        
    # getting in to next page to collect the data
    next_page = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_page.click()
    sleep(2)

#DataFrame
data = pd.DataFrame({'Product_title':title[:100],
                    'Product_description':description[:100],
                    'Product_Price':cost[:100],
                    'Product_offer':offer[:100]})
data

,Product_title,Product_description,Product_Price,Product_offer
0,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹229,84% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,483",40% off
2,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹159,91% off
3,Elligator,UV Protection Round Sunglasses (54),₹198,92% off
4,GANSTA,UV Protection Aviator Sunglasses (57),₹234,88% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹599,76% off
96,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹221,86% off
97,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹579,27% off
98,agera,Gradient Aviator Sunglasses (55),₹186,83% off
99,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹399,82% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.

#First connect to web driver
driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")

# sending URL to webdriver
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace'
driver.get(url)

#Rating

rating = []

for i in range(10):
    print("page :",(i+1))
    count=0
    if (count!=100):
        rating_s = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        
        # printing text elements under the webelements
        
        for r in rating_s:
            rating.append(r.text)
        
    # getting in to next page to collect the data        
        next_page = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
        next_page.click()
        sleep(3)
        count=+1
    
    else:
        exit()
   # extracting 100 elements from the resultants

rating

#reviewsummary 

review_summ = []

for i in range(10):
    print("page :",(i+1))
    count=0
    if (count!=100):
        review_s = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        
        # printing text elements under the webelements
        
        for r in review_s:
            review_summ.append(r.text)
        
    # getting in to next page to collect the data        
        next_page = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
        next_page.click()
        sleep(3)
        count=+1
    
    else:
        exit()
   # extracting 100 elements from the resultants

review_summ

#full Description
full_desc = []
for i in range(10):
    print("page :",(i+1))
    count=0
    if (count!=100):
        full_d = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        
        # printing text elements under the webelements
        
        for f in full_d:
            full_desc.append(f.text)
        
    # getting in to next page to collect the data        
        next_page = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
        next_page.click()
        sleep(3)
        count=+1
    
    else:
        exit()
   # extracting 100 elements from the resultants

full_desc

data = pd.DataFrame({'Rating':rating,
                    'Review Summary':review_summ,
                    'Full_review':full_desc})
data

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:

Brand
Product Description
Price

In [8]:
#First connect to web driver
driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")

# sending URL to webdriver
url = 'https://www.flipkart.com/'
driver.get(url)

#closing the popup
popup_btn =driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
popup_btn.click()

#search bar web element
search = driver.find_element_by_class_name("_3704LK ")

#sending search key
search.send_keys('sneakers')

#click on the search button
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

# Extracting webelements "Name","Description","Price" and "offer"

In [9]:
name = []
descr = []
price =[]
offer =[]

for i in range(3):
    #print("page :",(i+1))
    #Name
    name_s = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for r in name_s:
        name.append(r.text)
    
    #Description
    des_t = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for r in des_t:
        descr.append(r.text)    
    
    #Price
    price_p= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for r in price_p:
        price.append(r.text)
    
    #Offers
    offer_p= driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for r in offer_p:
        offer.append(r.text)
    
    
    # getting in to next page to collect the data        
    next_page = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_page.click()
    sleep(3)

data = pd.DataFrame({'Product_Name':name[:100],
                    'Product_description':descr[:100],
                    'Product_price':price[:100],
                    'Product_offer':offer[:100]})
data

,Product_Name,Product_description,Product_price,Product_offer
0,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,₹449,70% off
1,Echor,Stylish & Trendy Shoe For Men Sneakers Sneaker...,₹449,70% off
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹209,83% off
3,Elevarse,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹299,70% off
4,BRUTON,STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...,₹374,89% off
...,...,...,...,...
95,Castoes,"white Casual shoes,Sneakers for men's Sneakers...",₹419,62% off
96,SCATCHITE,Sneakers For Men,₹327,62% off
97,D-SNEAKERZ,Sneakers For Men,₹249,70% off
98,Chevit,Sneakers For Men,₹599,70% off
99,Echor,"Perfect Sports Shoes for Men's Running ,Cyclin...",₹449,69% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [11]:
#First connect to web driver
driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")
driver.maximize_window() #maximise window

# sending URL to webdriver
url = 'https://www.myntra.com/shoes'
driver.get(url)

# selecting the price check box
price_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

#selecting color check box
color_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]')
color_check.click()

# Extracting shoes information

In [12]:
brand =[]
desc=[]
price =[]

for i in range(2):
    #print("page:",(i+1))
    #brand
    shoe_b =driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for s in shoe_b:
        brand.append(s.text)
    
    #description    
    shoe_des =driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for s in shoe_des:
        desc.append(s.text)
    
    #Price
    shoe_p =driver.find_elements_by_xpath('//div[@class="product-price"]')
    for s in shoe_p:
        price.append(s.text) 
    
    next_page =driver.find_element_by_xpath('//li[@class="pagination-next"]')
    next_page.click()
    sleep(3)

#DataFrame
data = pd.DataFrame({})

data['Brand']=brand[:10]
data['Description']=desc[:10]
data['Price']=price[:10]

data

page: 1
page: 2

            Brand                     Description                        Price
0            Nike      Men Winflo 7 Running Shoes                     Rs. 7995
1            Nike       Men Air Max Dawn Sneakers                    Rs. 10995
2            Nike  Men Blazer Court Skateboarding                     Rs. 7495
3          Clarks      Men Leather Formal Loafers                     Rs. 7499
4  Tommy Hilfiger            Men Leather Sneakers                     Rs. 7999
5            Puma   Men Jamming 2.0 Running Shoes                    Rs. 12999
6            Puma               Men Running Shoes                    Rs. 12999
7            Puma       Men Magnify Nitro Running   Rs. 7799Rs. 12999(40% OFF)
8            Puma  Men Deviate Nitro Running Shoe  Rs. 10499Rs. 14999(30% OFF)
9  Tommy Hilfiger            Men Leather Sneakers                     Rs. 7999

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

Title
Ratings
Price As shown in the below image as the tick marked attributes.

In [13]:
#connecting with the driver

drive = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver")
drive.maximize_window()
#drive

#sending url to webdriver
url = 'https://www.amazon.in/'
drive.get(url)

#getting  the search bar web element
search = drive.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
#search

#sending search key

search.send_keys('Laptop')

search_btn=drive.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search_btn.click()

#selecting check box
intel7_check =drive.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[12]/span/a/span')
intel7_check.click()

#Title

title = []
t = drive.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in t:
    title.append(i.text)
title[:10]

#Rating
rating = []
r = drive.find_elements_by_xpath('//div[@class="a-row a-size-small"]')

for i in r:
    #print(i)
    rating.append(i.text)
    
#price
price = []
p= drive.find_elements_by_xpath('//span[@class="a-price-whole"]')

for i in p:
    price.append(i.text)
    
#data Frame making
laptop = pd.DataFrame({})
laptop['Title']=title[:10]
laptop['Rating']=rating[:10]
laptop['Price']=price[:10]
laptop

                                               Title Rating   Price
0  Dell New 15 PQC-N5030 Intel Inspiron 3510 15.6...     17  34,390
1  Dell Inspiron 3501 15.6 inches FHD Display Lap...     58  57,125
2  Dell New 15 PQC-N5030 Intel Inspiron 3510 15.6...     17  34,390
3  ASUS Intel Pentium Quad Core 15.6 inches Busin...     26  28,990
4  Dell Inspiron 3502 15.6 inches HD Display Lapt...    462  29,990
5  Acer Extensa 15 Thin & Light Intel Processor P...    409  32,990
6  ASUS Pentium Silver - (8 GB/256 GB SSD/Windows...     58  57,125
7  Dell Inspiron 3501 15.6 inches FHD Display Lap...    137  28,630
8  ASUS Pentium Quad Core - (4 GB/1 TB HDD/Window...    100  50,490
9  HP 14 Intel Pentium N6000 14-inch(35.6 cm) Lap...      1  31,490

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
First get the webpage https://www.ambitionbox.com/
Click on the Job option as shown in the image
After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button. ASSIGNMENT 2
You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.

In [16]:
#connecting the driver

driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")
driver.maximize_window()

#sending the url

url =' https://www.ambitionbox.com/'
driver.get(url)

#clicking on the job option

job_click = driver.find_element_by_xpath('//a[@class="link jobs"]')
job_click.click()

#scraping the web elements of search key

job_search = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
job_search

#sending the search key
job_search.send_keys('Data Scientist')

#click on the search button

search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn.click()

In [20]:
#entering the job search location
search_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]')
search_loc.click()

In [22]:
#sending the search location
search_loc_enter = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_loc_enter.send_keys('Noida')

In [23]:
#select the location "Noida"
select = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select.click()

In [24]:
#Title of the job 
job_title = []
title = driver.find_elements_by_xpath('//a[@class="title noclick"]')
for i in title:
    job_title.append(i.text)


#Description 
company_info = []
info = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in info:
    company_info.append(i.text)


#location
location = []
loc =driver.find_elements_by_xpath('//div[@class="entity loc"]')
for i in loc:
    location.append(i.text)

job = pd.DataFrame({})
job['Title'] = job_title
job['Company_info'] = company_info
job['location']= location[1:11]
job

,Title,Company_info,location
0,Data Scientist,Jubilant Foodworks Limited,Noida
1,Urgent Requirement || Data Scientist || Noida,HCL Technologies,"Delhi NCR, Noida"
2,EY GDS - Assistant Director - Data Science - A...,EY GDS,"Bengaluru/Bangalore, Noida, Pune"
3,Opportunity | Tavant India,Tavant Technologies India Pvt. Ltd.,"Bengaluru/Bangalore, Hyderabad/Secunderabad, N..."
4,Looking For Senior Data Scientist For Denave,Denave India Pvt Ltd.,Noida
5,Lead Assistant Manager,EXL Service,"Noida, Gurgaon/Gurugram, Bengaluru/Bangalore +..."
6,CogniTensor - Data Scientist (1-2 yrs),CHT Sapiense,Noida
7,Data Scientist | Data Engineer | Machine Learning,Pitney Bowes India Pvt ltd,Noida
8,Data Scientist - Machine Learning (5-14 yrs),Zyoin,"Bengaluru/Bangalore, Noida"
9,Manager Data Scientist,Ameriprise Financial,Noida

# Q10: Write a python program to scrape the salary data for Data Scientist designation.

In [31]:
#connecting the driver
driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")
driver.maximize_window()

#sending the url
url =' https://www.ambitionbox.com/'
driver.get(url)

In [32]:
#getting the salaries web element
sal_we = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal_we.click()

#getting the web elements of the search for job profile
search_p = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_p.send_keys('Data Scientist')
search_p.click()

In [33]:
submit = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
submit.click()
submit_ = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
submit_.click()

In [34]:
#name of the company
company_name = []
name = driver.find_elements_by_xpath('//div[@class="name"]')

for i in name:
    anchor = i.find_elements_by_tag_name('a')
    for j in anchor:
        company_name.append(j.text)

#description
descrip = []
des = driver.find_elements_by_xpath('//div[@class="name"]')

for i in name:
    spa = i.find_elements_by_tag_name('span')
    for j in spa:
        descrip.append(j.text)

#yrs of exp
exp = []
e = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

for i in e:
     exp.append(i.text)


#minimal salary
salary = []
min_sal = []
max_sal =[]
m = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in m:
    salary.append(i.text)

min_sal = salary[0:20:2]
max_sal =salary[1:20:2]

#average salary
avg_sal =[]
a = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in a:
    avg_sal.append(i.text)


# creating the dataframe

salary_ = pd.DataFrame({'Company_name':company_name,
           'Description':descrip,
           'Experience':exp,
           'Minimum_salary':min_sal,
           'Maximum_salary':max_sal,
           'Average_salary':avg_sal})
salary_

['₹ 17.7L', '₹ 15.0L', '₹ 9.8L', '₹ 11.0L', '₹ 9.5L', '₹ 9.0L', '₹ 8.3L', '₹ 10.0L', '₹ 8.5L', '₹ 5.8L']
['₹ 35.0L', '₹ 25.5L', '₹ 20.0L', '₹ 21.3L', '₹ 22.0L', '₹ 18.5L', '₹ 20.5L', '₹ 21.0L', '₹ 15.0L', '₹ 24.0L']

,Company_name,Description,Experience,Minimum_salary,Maximum_salary,Average_salary
0,Walmart,based on 10 salaries,Data Scientist\n . \n3 yrs exp,₹ 17.7L,₹ 35.0L,₹ 28.7L
1,Ab Inbev,based on 25 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 15.0L,₹ 25.5L,₹ 20.2L
2,ZS,based on 13 salaries,Data Scientist\n . \n2 yrs exp,₹ 9.8L,₹ 20.0L,₹ 15.5L
3,Optum,based on 25 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 11.0L,₹ 21.3L,₹ 15.1L
4,Fractal Analytics,based on 75 salaries,Data Scientist\n . \n2-4 yrs exp,₹ 9.5L,₹ 22.0L,₹ 15.1L
5,Tiger Analytics,based on 30 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 9.0L,₹ 18.5L,₹ 14.2L
6,UnitedHealth,based on 51 salaries,Data Scientist\n . \n2-4 yrs exp,₹ 8.3L,₹ 20.5L,₹ 13.8L
7,Verizon,based on 14 salaries,Data Scientist\n . \n4 yrs exp,₹ 10.0L,₹ 21.0L,₹ 12.7L
8,Ganit Business Solutions,based on 13 salaries,Data Scientist\n . \n4 yrs exp,₹ 8.5L,₹ 15.0L,₹ 12.4L
9,Ericsson,based on 43 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 5.8L,₹ 24.0L,₹ 11.9L