# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
ASSIGNMENT 2
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.

In [1]:
import selenium
from selenium import webdriver
from time import sleep
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
#connecting the driver

driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")
driver.maximize_window()

#sending the url

url =' https://www.ambitionbox.com/'
driver.get(url)

#clicking on the job option

job_click = driver.find_element_by_xpath('//a[@class="link jobs"]')
job_click.click()

#scraping the web elements of search key

job_search = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
job_search

#sending the search key
job_search.send_keys('Data Scientist')

#click on the search button

search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn.click()

In [3]:
#entering the job search location
search_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
search_loc.click()

In [4]:
#sending the search location
search_loc_enter = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_loc_enter.send_keys('Noida')

In [5]:
#select the location "Noida"
select = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select.click()

In [14]:
#Title of the job 
job_title = []
title = driver.find_elements_by_xpath('//a[@class="title noclick"]')
for i in title:
    job_title.append(i.text)
    
#NO.of days ago job posted
job_posted =[]
posted = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
for i in posted:
    job_posted.append(i.text)
    
job_posted[0:20:2]

#Description 
company_info = []
info = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in info:
    company_info.append(i.text)


#location
location = []
loc =driver.find_elements_by_xpath('//div[@class="entity loc"]')
for i in loc:
    location.append(i.text)

job = pd.DataFrame({})
job['Title'] = job_title
job['Job_posted_no.of_days_ago'] = job_posted[0:20:2]
job['Company_info'] = company_info
job['location']= location[1:11]
job

,Title,Job_posted_no.of_days_ago,Company_info,location
0,Urgent Requirement || Data Scientist || Noida,1d ago,HCL Technologies,"Delhi NCR, Noida"
1,Data Scientist,18d ago,Jubilant Foodworks Limited,Noida
2,EY GDS - Assistant Director - Data Science - A...,1mon ago,EY GDS,"Bengaluru/Bangalore, Noida, Pune"
3,Opportunity | Tavant India,13d ago,Tavant Technologies India Pvt. Ltd.,"Bengaluru/Bangalore, Hyderabad/Secunderabad, N..."
4,Looking For Senior Data Scientist For Denave,13d ago,Denave India Pvt Ltd.,Noida
5,Lead Assistant Manager,26d ago,EXL Service,"Noida, Gurgaon/Gurugram, Bengaluru/Bangalore +..."
6,CogniTensor - Data Scientist (1-2 yrs),7d ago,CHT Sapiense,Noida
7,Data Scientist | Data Engineer | Machine Learning,1mon ago,Pitney Bowes India Pvt ltd,Noida
8,Data Scientist - Machine Learning (5-14 yrs),11d ago,Zyoin,"Bengaluru/Bangalore, Noida"
9,Manager Data Scientist,1mon ago,Ameriprise Financial,Noida