In [1]:
import requests
from bs4 import BeautifulSoup

# 1. Write a python program to display all the header tags from wikipedia.org

In [2]:
# request for access

wiki = requests.get('https://en.wikipedia.org/wiki/Main_Page')
wiki

In [5]:
# extracting the hole html page

html_wiki = BeautifulSoup(wiki.content)

In [6]:
# getting the header tag data

headers_tags = []
header = []

for i in html_wiki.find_all('h2',class_='mp-h2'):
    headers_tags.append(i)
    print(i)
    header.append(i.text)
    
header

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

#  2.Write a python program to display IMDB's top rated 100 Movies data(i.e name,rating and year of relase)and make data frame

In [7]:
# request for access

page = requests.get('https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating')
page

In [8]:
# Getting all the HTML content to page

soup = BeautifulSoup(page.content)

In [9]:
# Getting movie names

Movie_name = []
for i in soup.find_all('h3',class_='lister-item-header'):
    Movie_name.append(i.a.text.replace('\n',''))

    
Movie_name

['Jai Bhim',
 'The Shawshank Redemption',
 'The Godfather',
 'Soorarai Pottru',
 'The Dark Knight',
 'The Godfather: Part II',
 '12 Angry Men',
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 "Schindler's List",
 'Inception',
 'Fight Club',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Il buono, il brutto, il cattivo',
 'Spider-Man: No Way Home',
 'Dara iz Jasenovca',
 'Shershaah',
 'Sardar Udham',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 'Goodfellas',
 'Star Wars: Episode V - The Empire Strikes Back',
 "One Flew Over the Cuckoo's Nest",
 'Gisaengchung',
 'Drishyam 2',
 'Interstellar',
 'Cidade de Deus',
 'Sen to Chihiro no kamikakushi',
 'Saving Private Ryan',
 'The Green Mile',
 'La vita è bella',
 'Se7en',
 'The Silence of the Lambs',
 'Star Wars',
 'Seppuku',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 '96',
 'Whiplash',
 'The Intouchables',
 'The Prestige',
 'The Departed',
 'The Pianist',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'Léon',
 'The Lion King',
 'Terminator 2: Judgment Day',
 'Nuovo Cinema Paradiso',
 'Hotaru no haka',
 'Back to the Future',
 'Once Upon a Time in the West',
 'Psycho',
 'Rear Window',
 'Casablanca',
 'Modern Times',
 'City Lights',
 'Hamilton',
 'Capharnaüm',
 'Joker',
 'Ratsasan',
 'Ayla: The Daughter of War',
 'Kimi no na wa.',
 'Dangal',
 'Spider-Man: Into the Spider-Verse',
 'Avengers: Endgame',
 'Avengers: Infinity War',
 'Coco',
 'Django Unchained',
 'The Dark Knight Rises',
 '3 Idiots',
 'Taare Zameen Par',
 'WALL·E',
 'The Lives of Others',
 'Oldeuboi',
 'Memento',
 'Mononoke-hime',
 'Raiders of the Lost Ark',
 'The Shining',
 'Apocalypse Now',
 'Alien',
 'Tengoku to jigoku',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Witness for the Prosecution',
 'Paths of Glory',
 'Pather Panchali',
 'Sunset Blvd.',
 'The Great Dictator',
 'Chhichhore',
 '1917',
 'Uri: The Surgical Strike',
 'Tumbbad',
 'K.G.F: Chapter 1',
 'Vikram Vedha',
 'Drishyam',
 'Jagten',
 'Jodaeiye Nader az Simin',
 'Incendies']

In [10]:
# Rating

Rating = []
for i in soup.find_all('div',class_='inline-block ratings-imdb-rating'):
    Rating.append(i.text.replace('\n',''))
    
Rating

['9.3',
 '9.3',
 '9.2',
 '9.1',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [11]:
#Year_of_relase

Year_of_release = []
for i in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    Year_of_release.append(i.text)
    

Year_of_release

['(2021)',
 '(1994)',
 '(1972)',
 '(2020)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(2003)',
 '(1994)',
 '(1993)',
 '(2010)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(2021)',
 '(2020)',
 '(2021)',
 '(2021)',
 '(2002)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2019)',
 '(2021)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(II) (2018)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1991)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1968)',
 '(1960)',
 '(1954)',
 '(1942)',
 '(1936)',
 '(1931)',
 '(2020)',
 '(2018)',
 '(I) (2019)',
 '(2018)',
 '(2017)',
 '(2016)',
 '(2016)',
 '(2018)',
 '(2019)',
 '(2018)',
 '(I) (2017)',
 '(2012)',
 '(2012)',
 '(2009)',
 '(2007)',
 '(2008)',
 '(2006)',
 '(2003)',
 '(2000)',
 '(1997)',
 '(1981)',
 '(1980)',
 '(1979)',
 '(1979)',
 '(1963)',
 '(1964)',
 '(1957)',
 '(1957)',
 '(1955)',
 '(1950)',
 '(1940)',
 '(2019)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(2018)',
 '(2017)',
 '(2013)',
 '(2012)',
 '(2011)',
 '(2010)']

In [12]:
print(len(Movie_name),len(Year_of_release),len(Rating))

100 100 100

In [13]:
# Resultant DataFrame
import pandas as pd
data = pd.DataFrame({'Movie_name':Movie_name , 'Year_of_release':Year_of_release, 'Rating':Rating})
data

                  Movie_name Year_of_release Rating
0                   Jai Bhim          (2021)    9.3
1   The Shawshank Redemption          (1994)    9.3
2              The Godfather          (1972)    9.2
3            Soorarai Pottru          (2020)    9.1
4            The Dark Knight          (2008)    9.0
..                       ...             ...    ...
95              Vikram Vedha          (2017)    8.3
96                  Drishyam          (2013)    8.3
97                    Jagten          (2012)    8.3
98   Jodaeiye Nader az Simin          (2011)    8.3
99                 Incendies          (2010)    8.3

[100 rows x 3 columns]

#  3.Write a python program to display IMDBS top rated 100 indian movies data (i.e name,rating and year of release)and make dataframe

In [14]:
# Getting the access from the server

page = requests.get('https://www.imdb.com/list/ls056092300/')
page

In [15]:
# HTML content

page_html = BeautifulSoup(page.content)

In [16]:
# Name

name = []
for i in page_html('h3',class_='lister-item-header'):
    name.append(i.a.text)
name

['Ship of Theseus',
 'Iruvar',
 'Kaagaz Ke Phool',
 'Lagaan: Once Upon a Time in India',
 'Pather Panchali',
 'Charulata',
 'Rang De Basanti',
 'Dev.D',
 '3 Idiots',
 'Awaara',
 'Nayakan',
 'Aparajito',
 'Pushpaka Vimana',
 'Pyaasa',
 'Ghatashraddha',
 'Sholay',
 'Aradhana',
 'Do Ankhen Barah Haath',
 'Bombay',
 'Neecha Nagar',
 'Do Bigha Zamin',
 'Garm Hava',
 'Piravi',
 'Mughal-E-Azam',
 'Amma Ariyan',
 'Madhumati',
 'Goopy Gyne Bagha Byne',
 'Gangs of Wasseypur',
 'Guide',
 'Satya',
 'Roja',
 'Mr. India',
 'The Cloud-Capped Star',
 'Harishchandrachi Factory',
 'Masoom',
 'Agneepath',
 'Tabarana Kathe',
 'Zakhm',
 'Dil Chahta Hai',
 'Bhaag Milkha Bhaag',
 'Chupke Chupke',
 'Dilwale Dulhania Le Jayenge',
 'Taare Zameen Par',
 'Ardh Satya',
 'Bhumika',
 'Enthiran',
 'Sadma',
 'Shwaas',
 'Lamhe',
 'Haqeeqat',
 'Shree 420',
 'Kannathil Muthamittal',
 'Hum Aapke Hain Koun..!',
 'Ustad Hotel',
 'Bandit Queen',
 'Lakshya',
 'Black Friday',
 'Manthan',
 'Apoorva Raagangal',
 'English Vinglish',
 'Jewel Thief',
 'Pakeezah',
 'Maqbool',
 'Jis Desh Men Ganga Behti Hai',
 'Sahib Bibi Aur Ghulam',
 'Shatranj Ke Khilari',
 'Narthanasala',
 'Chandni Bar',
 'Vaaranam Aayiram',
 'Mr. and Mrs. Iyer',
 'Chandni',
 'English, August',
 'Celluloid',
 'Sagara Sangamam',
 'Munna Bhai M.B.B.S.',
 'Saaransh',
 'Guddi',
 'Vanaja',
 'Vazhakku Enn 18/9',
 'Gangaajal',
 'Angoor',
 'Guru',
 'Andaz Apna Apna',
 'Sangam',
 'Oka Oori Katha',
 'Bhuvan Shome',
 'Border',
 'Parineeta',
 'Devdas',
 'Abohomaan',
 'Kuch Kuch Hota Hai',
 'Pithamagan',
 'Veyyil',
 'Chemmeen',
 'Jaane Bhi Do Yaaro',
 'Apur Sansar',
 'Kanchivaram',
 'Monsoon Wedding',
 'Black',
 'Deewaar']

In [17]:
len(name)

100

In [18]:
#Rating

rating = []
for i in page_html.find_all('div',class_='ipl-rating-star small'):
    rating.append(i.text.replace('\n',''))

rating

['8.1',
 '8.5',
 '8',
 '8.1',
 '8.4',
 '8.2',
 '8.1',
 '8',
 '8.4',
 '7.9',
 '8.7',
 '8.3',
 '8.6',
 '8.5',
 '7.3',
 '8.2',
 '7.6',
 '8.4',
 '8.1',
 '6.9',
 '8.3',
 '8.1',
 '7.7',
 '8.2',
 '7.2',
 '8',
 '8.8',
 '8.2',
 '8.4',
 '8.3',
 '8.2',
 '7.8',
 '8',
 '8.4',
 '8.4',
 '7.7',
 '7.9',
 '7.9',
 '8.1',
 '8.2',
 '8.3',
 '8.1',
 '8.4',
 '8.2',
 '7.4',
 '7.1',
 '8.4',
 '8.3',
 '7.4',
 '7.8',
 '8',
 '8.4',
 '7.5',
 '8.2',
 '7.6',
 '7.9',
 '8.5',
 '7.7',
 '7.5',
 '7.8',
 '8',
 '7.3',
 '8.1',
 '7.4',
 '8.3',
 '7.7',
 '7.6',
 '7.6',
 '8.2',
 '7.9',
 '6.8',
 '6.9',
 '7.7',
 '8.8',
 '8.1',
 '8.2',
 '7.2',
 '7.2',
 '8.3',
 '7.8',
 '8.3',
 '7.7',
 '8.1',
 '7.5',
 '7.7',
 '7.4',
 '7.9',
 '7.2',
 '7.9',
 '7.4',
 '7.6',
 '8.4',
 '7.8',
 '7.8',
 '8.4',
 '8.5',
 '8.1',
 '7.4',
 '8.2',
 '8.1']

In [19]:
# Year of relase

year = []
for i in page_html.find_all('span',class_='lister-item-year text-muted unbold'):
    year.append(i.text.replace('(I)',''))
year

['(2012)',
 '(1997)',
 '(1959)',
 '(2001)',
 '(1955)',
 '(1964)',
 '(2006)',
 '(2009)',
 '(2009)',
 '(1951)',
 '(1987)',
 '(1956)',
 '(1987)',
 '(1957)',
 '(1977)',
 '(1975)',
 '(1969)',
 '(1957)',
 '(1995)',
 '(1946)',
 '(1953)',
 '(1974)',
 '(1989)',
 '(1960)',
 '(1986)',
 '(1958)',
 '(1969)',
 '(2012)',
 '(1965)',
 '(1998)',
 '(1992)',
 '(1987)',
 '(1960)',
 '(2009)',
 '(1983)',
 '(1990)',
 '(1986)',
 '(1998)',
 '(2001)',
 '(2013)',
 '(1975)',
 '(1995)',
 '(2007)',
 '(1983)',
 '(1977)',
 '(2010)',
 '(1983)',
 '(2004)',
 '(1991)',
 '(1964)',
 '(1955)',
 '(2002)',
 '(1994)',
 '(2012)',
 '(1994)',
 '(2004)',
 '(2004)',
 '(1976)',
 '(1975)',
 '(2012)',
 '(1967)',
 '(1972)',
 '(2003)',
 '(1960)',
 '(1962)',
 '(1977)',
 '(1963)',
 '(2001)',
 '(2008)',
 '(2002)',
 '(1989)',
 '(1994)',
 '(2013)',
 '(1983)',
 '(2003)',
 '(1984)',
 '(1971)',
 '(2006)',
 '(2012)',
 '(2003)',
 '(1982)',
 '(2007)',
 '(1994)',
 ' (1964)',
 '(1978)',
 '(1969)',
 ' (1997)',
 '(2005)',
 '(1955)',
 '(2009)',
 '(1998)',
 '(2003)',
 '(2006)',
 '(1965)',
 '(1983)',
 '(1959)',
 '(2008)',
 '(2001)',
 '(2005)',
 '(1975)']

In [20]:
# Resultant DataFrame

df = pd.DataFrame({'Name_of_Movie':name,'Rating':rating,'Year_of_release':year})
df

                        Name_of_Movie Rating Year_of_release
0                     Ship of Theseus    8.1          (2012)
1                              Iruvar    8.5          (1997)
2                     Kaagaz Ke Phool      8          (1959)
3   Lagaan: Once Upon a Time in India    8.1          (2001)
4                     Pather Panchali    8.4          (1955)
..                                ...    ...             ...
95                        Apur Sansar    8.5          (1959)
96                        Kanchivaram    8.1          (2008)
97                    Monsoon Wedding    7.4          (2001)
98                              Black    8.2          (2005)
99                            Deewaar    8.1          (1975)

[100 rows x 3 columns]

# 4. write a python programe to scrape product_name,price and discount from https://www.meesho.com/bags-ladies/pl/p7vbp

In [21]:
# Getting access

misho = requests.get('https://www.meesho.com/bags-ladies/pl/p7vbp')
misho

In [22]:
# HTML content

misho_html = BeautifulSoup(misho.content)

In [23]:
#Name of the Products

name = []
for i in misho_html.find_all('p',class_='Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS'):
    name.append(i.text)
name

['Elegant Fashionable Women Handbags',
 'Gorgeous Attractive Women Handbags',
 'Classic Versatile Women Handbags',
 'Gorgeous Versatile Women Handbags',
 'Trendy Fancy Women Handbags',
 'Voguish Classy Women Handbags',
 'Elegant Versatile Women Handbags',
 'Ravishing Stylish Women Handbags',
 'Ravishing Alluring Women Handbags',
 'Classic Versatile Women Handbags',
 'Elegant Women Handbags',
 'Elite Fashionable Women Handbags',
 'Voguish Fancy Women Handbags',
 'Classic Stylish Women Handbags',
 'Elite Versatile Women Handbags',
 'Elegant Attractive Women Handbags',
 'Classic Versatile Women Handbags',
 'Elite Fancy Women Handbags',
 'Trendy Fashionable Women Handbags',
 'Gorgeous Classy Women Handbags']

In [24]:
#Price of the Product
price = []
for i in misho_html.find_all('h5',class_='Text__StyledText-sc-oo0kvp-0 hiHdyy'):
    price.append(i.text.replace('onwards',''))
price

['₹192',
 '₹342',
 '₹384',
 '₹234',
 '₹464',
 '₹187',
 '₹239',
 '₹227',
 '₹282',
 '₹214',
 '₹171',
 '₹233',
 '₹137',
 '₹274',
 '₹234',
 '₹200',
 '₹206',
 '₹232',
 '₹210',
 '₹192']

In [25]:
# Discount for the product

discount = []
for i in misho_html.find_all('span',class_='Text__StyledText-sc-oo0kvp-0 lnonyH'):
    discount.append(i.text.replace('off',''))     

discount

['30% ',
 '23% ',
 '21% ',
 '30% ',
 '18% ',
 '30% ',
 '29% ',
 '30% ',
 '26% ',
 '30% ',
 '30% ',
 '30% ',
 '30% ',
 '27% ',
 '30% ',
 '30% ',
 '30% ',
 '30% ',
 '30% ',
 '30% ']

In [26]:
#length of the 3 lists

print("lenth of product names",len(name))
print("lenth of the price column",len(price))
print("lenth od the discount column",len(discount))

lenth of product names 20
lenth of the price column 20
lenth od the discount column 20

In [27]:
# Resultant DataFrame

df = pd.DataFrame({'Product_Name':name,'Price':price,'Discount_price':discount})
df

                          Product_Name Price Discount_price
0   Elegant Fashionable Women Handbags  ₹192           30%
1   Gorgeous Attractive Women Handbags  ₹342           23%
2     Classic Versatile Women Handbags  ₹384           21%
3    Gorgeous Versatile Women Handbags  ₹234           30%
4          Trendy Fancy Women Handbags  ₹464           18%
5        Voguish Classy Women Handbags  ₹187           30%
6     Elegant Versatile Women Handbags  ₹239           29%
7     Ravishing Stylish Women Handbags  ₹227           30%
8    Ravishing Alluring Women Handbags  ₹282           26%
9     Classic Versatile Women Handbags  ₹214           30%
10              Elegant Women Handbags  ₹171           30%
11    Elite Fashionable Women Handbags  ₹233           30%
12        Voguish Fancy Women Handbags  ₹137           30%
13      Classic Stylish Women Handbags  ₹274           27%
14      Elite Versatile Women Handbags  ₹234           30%
15   Elegant Attractive Women Handbags  ₹200           30%
16    Classic Versatile Women Handbags  ₹206           30%
17          Elite Fancy Women Handbags  ₹232           30%
18   Trendy Fashionable Women Handbags  ₹210           30%
19      Gorgeous Classy Women Handbags  ₹192           30%

#  5. Write a python to scrap cricket rating from ice-criket.com.you have toscrape:

# a) Top 10 ODI teams in men's cricket along with the records for matches,points and rating.

In [28]:
# Getting access from the server

odi = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
odi

In [29]:
# Getting the html content

odi_html = BeautifulSoup(odi.content,'html.parser')

In [30]:
# Getting required matches data

matches = []
matches.append(odi_html.find('td',class_='rankings-block__banner--matches').text)
matches.append(odi_html.find('td',class_='rankings-block__banner--points').text)
for i in odi_html.find_all('td',class_='table-body__cell u-center-text'):
        matches.append(i.text)
matches

match = []
points = []
for i in range(0, 20):
    if i % 2:
        points.append(matches[i])
    else :
        match.append(matches[i])

print(match)
print('\n')
print(points)

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']


['2,054', '3,793', '3,244', '3,624', '2,459', '2,524', '2,740', '2,523', '2,657', '1,054']

In [31]:
# Getting rating data

rate = []
rate.append(odi_html.find('td',class_='rankings-block__banner--rating u-text-right').text.replace('\n',''))
for i in odi_html.find_all('td',class_='table-body__cell u-text-right rating'):
    rate.append(i.text)
    
print(rate)
rating = []
for i in range(0, 10):
    rating.append(rate[i])

rating

['                            121                            ', '119', '116', '113', '98', '93', '91', '84', '83', '62', '48', '46', '45', '38', '35', '30', '21', '21', '17', '0']

['                            121                            ',
 '119',
 '116',
 '113',
 '98',
 '93',
 '91',
 '84',
 '83',
 '62']

In [32]:
#Resultant DataFrame

data = pd.DataFrame({'Matches':match,'Points':points,'Rating':rating})
data

  Matches Points                                             Rating
0      17  2,054                              121               ...
1      32  3,793                                                119
2      28  3,244                                                116
3      32  3,624                                                113
4      25  2,459                                                 98
5      27  2,524                                                 93
6      30  2,740                                                 91
7      30  2,523                                                 84
8      32  2,657                                                 83
9      17  1,054                                                 62

#  b) Top 10 ODI Batsmen along with the records of their team and rating.

In [33]:
# Getting access from the server

page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page

In [34]:
# Getting the html content

page_html = BeautifulSoup(page.content,'html.parser')

In [35]:
# Getting Teams Data

teams = []

t = page_html.findChild('div',class_='rankings-block__banner--nationality').text.replace('\n','')

n = len(t)
middle_index = n//2
teams.append(t[:middle_index])
#print(teams)

for i in page_html.find_all('span',class_='table-body__logo-text'):
    teams.append(i.text)
team = []

for i in range(0, 10):
    team.append(teams[i])
team

['PAK', 'IND', 'IND', 'NZ', 'SA', 'AUS', 'ENG', 'AUS', 'NZ', 'SA']

In [36]:
# Rating

rate = []
for i in page_html.find_all('td',class_='table-body__cell u-text-right rating'):
    rate.append(i.text)
    
#print("lenth:",len(rate))

rating = []
for i in range(0,10):
    rating.append(rate[i])
rating

['836', '801', '801', '783', '779', '775', '762', '754', '750', '709']

In [37]:
# Resultant DataFrame

dataframe = pd.DataFrame({'Team':team,'Rating':rating})
dataframe

  Team Rating
0  PAK    836
1  IND    801
2  IND    801
3   NZ    783
4   SA    779
5  AUS    775
6  ENG    762
7  AUS    754
8   NZ    750
9   SA    709

# # c.Top 10 ODI bowlers along with the records of their team and rating.

In [38]:
# Getting access from the server

odibowler = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
odibowler

In [39]:
# Getting the html content

odibowler_html = BeautifulSoup(odibowler.content)

In [40]:
# Getting Teams data

teams = []
teams.append(odibowler_html.find('div',class_='rankings-block__banner--nationality').text.replace('\n',''))

for i in odibowler_html.find_all('span',class_='table-body__logo-text'):
    teams.append(i.text)

team = []

for i in range(0, 10):
    team.append(teams[i])
team

['NZ                    ',
 'AUS',
 'ENG',
 'AFG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'IRE']

In [41]:
# Getting rating information

rate = []
rate.append(odibowler_html.find('div',class_='rankings-block__banner--rating').text)

for i in odibowler_html.find_all('td',class_='table-body__cell rating'):
    rate.append(i.text)

rating = []

for i in range(0,10):
    rating.append(rate[i])
rating

['737', '709', '700', '697', '692', '691', '689', '652', '650', '646']

In [42]:
# Resultant DataFame

data = pd.DataFrame({'Team':team,'Rating':rating})
data

                     Team Rating
0  NZ                        737
1                     AUS    709
2                     ENG    700
3                     AFG    697
4                     BAN    692
5                      NZ    691
6                     IND    689
7                     AUS    652
8                     BAN    650
9                     IRE    646

# 6. Write a python program to scrape cricket rankings from icc-cricket.com .

# a) Top 10 ODI Teams in women's cricket along with the records for matches,points and rating

In [43]:
# Getting request from server

odiwomen = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
odiwomen

In [44]:
# Getting the html content

odiwomen_html = BeautifulSoup(odiwomen.content,'html.parser')

In [45]:
# Getting Womens matches data

matchs = []
matchs.append(odiwomen_html.find('td',class_='rankings-block__banner--matches').text)
matchs.append(odiwomen_html.find('td',class_='rankings-block__banner--points').text)

for i in odiwomen_html.find_all('td',class_='table-body__cell u-center-text'):
    matchs.append(i.text)
matchs


match = []
points = []
for i in range(0, 20):
    if i % 2:
        points.append(matchs[i])
    else :
        match.append(matchs[i])

print(match)
print('\n')
print(points)

['17', '19', '18', '17', '5', '19', '19', '19', '5', '5']


['2,746', '2,307', '2,148', '1,899', '475', '1,668', '1,658', '1,304', '240', '233']

In [46]:
# Getting rating data

rate =[]
rate.append(odiwomen_html.find('td',class_='rankings-block__banner--rating u-text-right').text.replace('\n',''))

for i in odiwomen_html.find_all('td',class_='table-body__cell u-text-right rating'):
    rate.append(i.text)

rating = []
for i in range(0, 10):
    rating.append(rate[i])
rating

['                            162                            ',
 '121',
 '119',
 '112',
 '95',
 '88',
 '87',
 '69',
 '48',
 '47']

In [47]:
# Resultant DataFrame

import pandas as pd
data = pd.DataFrame({'Matches':match,'Points':points,'Rating':rating})
data

  Matches Points                                             Rating
0      17  2,746                              162               ...
1      19  2,307                                                121
2      18  2,148                                                119
3      17  1,899                                                112
4       5    475                                                 95
5      19  1,668                                                 88
6      19  1,658                                                 87
7      19  1,304                                                 69
8       5    240                                                 48
9       5    233                                                 47

# b) Top 10 womens ODI Batting players along with the records of their team and rating

In [48]:
# Getting access from the server

batting = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
batting

In [49]:
# Getting html content

batting_html = BeautifulSoup(batting.content,'html.parser')

In [50]:
# Getting team data

teams = []
t = batting_html.findChild('div',class_='rankings-block__banner--nationality').text.replace('\n','')
n = len(t)

teams.append(t[:2])

for i in batting_html.find_all('span',class_='table-body__logo-text'):
    teams.append(i.text)


team = []
for i in range(0,10):
    team.append(teams[i])
team

['AU', 'IND', 'SA', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'ENG', 'AUS']

In [51]:
#Getting rating data

rate = []
rate.append(batting_html.find('div',class_='rankings-block__banner--rating').text)


for i in batting_html.find_all('td',class_='table-body__cell u-text-right rating'):
    rate.append(i.text)

rating = []
for i in range(0,10):
    rating.append(rate[i])
rating

['750', '738', '731', '728', '717', '710', '699', '690', '674', '668']

In [52]:
# Resultant DataFrame

df = pd.DataFrame({'Team':team,'Rating':rating})
df

  Team Rating
0   AU    750
1  IND    738
2   SA    731
3  ENG    728
4   NZ    717
5  IND    710
6  AUS    699
7  AUS    690
8  ENG    674
9  AUS    668

# c) Write a python to display TOP 10 ODI all-rounder along with the records of their team and rating

In [53]:
# Getting access from server

allrounder = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
allrounder

In [54]:
# Getting html content

allrounder_html = BeautifulSoup(allrounder.content)

In [55]:
# Getting Teams data

team = []
team.append(allrounder_html.find('div',class_='rankings-block__banner--nationality').text.replace('\n',''))

for i in allrounder_html('span',class_='table-body__logo-text'):
    team.append(i.text)
#team

teams = []
for i in range(0,10):
    teams.append(team[i])
teams

['AUS                    ',
 'IND',
 'SA',
 'ENG',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'ENG',
 'AUS']

In [56]:
# Getting the rating data

rate = []
rate.append(allrounder_html.find('div',class_='rankings-block__banner--rating').text)
#rate

for i in allrounder_html.find_all('td',class_='table-body__cell rating'):
    rate.append(i.text)
#rate
rating = []
for i in range(0,10):
    rating.append(rate[i])
rating

['750', '738', '731', '728', '717', '710', '699', '690', '674', '668']

In [57]:
#Resultant DataFrame

data = pd.DataFrame({'Team':teams,'Rating':rating})
data

                      Team Rating
0  AUS                        750
1                      IND    738
2                       SA    731
3                      ENG    728
4                       NZ    717
5                      IND    710
6                      AUS    699
7                      AUS    690
8                      ENG    674
9                      AUS    668

#  7 .Wrtie a python program to display all the details of all the posts from coreyms.com.Scrape the Heading,date,content and code for youtube from the link for the youtube video from the post

In [58]:
# Getting acceptance for data scraping

page = requests.get('https://coreyms.com/')
page

In [59]:
# HTML content

soup = BeautifulSoup(page.content,'html.parser')

In [60]:
# Scarping the Header data

header = []
for i in soup.find_all('a',class_='entry-title-link'):
    header.append(i.text)
header

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [61]:
# Scraping the entry_date

entry_date = []
for i in soup.find_all('time',class_='entry-time'):
    entry_date.append(i.text)
entry_date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [62]:
# Scraping the youtube links

youtube = []
links =[]
for i in soup.find_all('div',class_='entry-content'):
    youtube.append(i.iframe)
youtube

for i in youtube:
    try:
        links.append(i['src'])
    except:
        links.append('None') 
links

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'None',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

In [63]:
#Scraping content of the page  

content = []
for i in soup.find_all('div',class_='entry-content'):
    content.append(i.p.text)
content

['In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…',
 'In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…',
 'In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…',
 'In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…',
 'Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube ',
 'In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…',
 'In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…']

In [64]:
#Resultant DataFrame 

data = pd.DataFrame({'Header':header,'Entry_Date':entry_date,'Content':content,'Youtube_link':links})
data

,Header,Entry_Date,Content,Youtube_link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,None
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/_JGmemuINww?vers...

# 8.Write a python program to scrape house details from mentioned URL.It should include house title,loaction,area ,EMI and price from https://www.nobroker.in three localities which are Indira Nager,jayanager,Rajaji Nagar

In [66]:
#getting access from the required server

nobroker = requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn1d&radius=2.0&propertyAge=0&city=bangalore&locality=Indiranagar,&locality=Rajajinagar,&locality=Jayanagar')
nobroker

In [67]:
# Loading HTML content

nobroker_html = BeautifulSoup(nobroker.content,'html.parser')

In [68]:
# Title of the building

name = []
for i in nobroker_html.find_all('span',class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full'):
    name.append(i.text)
name

['3 BHK Apartment  For Sale  In Adarsh Court Apartment In Jayanagar',
 '4+ BHK In Independent House  For Sale  In Jayanagar',
 '3 BHK Flat  For Sale  In Beverly Apartments In Hal 2nd Stage, Indiranagar',
 '3 BHK Flat  For Sale  In Hal 2nd Stage,indiranagar  ',
 '2 BHK Flat  For Sale  In Lakshmi Nivas Apartments In Srirampuram ',
 '2 BHK In Independent House  For Sale  In Jayanagar',
 '3 BHK Flat  For Sale  In Shanti Park Apartments In Jayanagara 9th Block, Jayanagar',
 '2 BHK Flat  For Sale  In Shree Enclave  In Jayanagar',
 '4 BHK Flat  For Sale  In Golfridge In Indira Nagar',
 '4 BHK In Independent House  For Sale  In Jayanagar',
 '2 BHK Apartment  For Sale  In Team Heritage Apartments In Indiranagar',
 '4+ BHK In Independent House  For Sale  In Rajajinaga ',
 '3 BHK Flat  For Sale  In Total Environment Life Is Beautiful, Jayanagar In Jayanagar',
 '4+ BHK Flat  For Sale  In Nagapura',
 '3 BHK Apartment  For Sale  In Ashiana Gardens Apartments In Indiranagar',
 '3 BHK Flat  For Sale  In Mantri Gardens Apartment In Jayanagar',
 '1 BHK Flat  For Sale  In Rajajinagar In Rajaji Nagar',
 '4+ BHK In Independent House  For Sale  In Rajaji Nagar',
 '3 BHK Flat  For Sale  In Vaishali Residency In Indiranagar',
 '2 BHK In Independent House  For Sale  In Mariyappanapalya',
 '2 BHK Flat  For Sale  In Shanthipark Apartments, 9th Block, Jayanagar, Bengaluru  In Shanthi Park Apartments',
 '4+ BHK Flat  For Sale  In Indiranagar',
 '4 BHK In Independent House  For Sale  In Rajaji Nagar',
 '4+ BHK In Independent House  For Sale  In Rajajinagar',
 '3 BHK Flat  For Sale  In Raj Kamal Apartments  In Jayanagar']

In [69]:
#Location 

location = []
for i in nobroker_html.find_all('div',class_='mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95'):
    location.append(i.text)
location

['Adarsh Court Apartment\xa0 Adarsh Court Apartment, 8th Cross Rd, 7th Block, Jayanagar, Bengaluru, Karnataka 560070, India',
 'Independent House, 100ft Road, Ashoka Pillar Rd near Girias Jayanagar Branch',
 'Road next to Manyavar showroom',
 'Standalone building, 16th F main, Hal 2nd stage indrananagr blore ',
 'behind Vishnupriya Towers,Mahakavi Kuvempu Road,  near srirampuram metro station  Karnataka Bank',
 'Independent House, Jayanagara 9th Block, near Ragigudda Sri Prasanna Anjaneyaswamy Temple',
 'Shanti Park Apartments',
 'jayanagar Near Mahalakshmi Temple/Rajalakshmi Chou',
 'embassy golf link road',
 'Independent House, 47th Cross Rd, 8th Block, 1st Phase, Near Maha Lakshmi Temple and Sir M Vishweshwaraiah Cooperative Bank Limited',
 'Team Heritage Apartments\xa0 Team Heritage Apartments, 13th main,, 2nd Cross Rd, HAL 2nd Stage, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Independent House, 6th Cross Rd, 2nd Block  near  SMC Enclave ',
 '30th Cross Rd, 4th T Block , Jayanagar, Bengaluru, Karnataka 560041, India',
 'Standalone Building, Bovipalya near Mahalakshmi Metro Station',
 'Ashiana Gardens Apartments\xa0 4, Sri Rama Temple Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Mantri Gardens Apartment, Jayanagar 1st Block, Madhavan Park,, Bengaluru, Karnataka, 1st Block, Jaya Nagar East, Jayanagar, Bengaluru, Karnataka 560011, India',
 '27th cross 2nd block rajajinagar,Behind Navrang park',
 'Independent House, 72 Cross, 12th Main Rd, RPA College, near chaitanya school ',
 'Vaishali Residency, HAL 2nd Stage, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Independent House, Ramamohanapuram Near  Masjid e Ashrafiya',
 'Opposite to Croma showroom',
 'Standalone Building, HAL 2nd Stage near New Horizon Public School',
 'Independent House, 4th Cross Rd M.R Palya, Mariyappanapalya, near  Sri Subramanya Swamy Temple',
 'Independent House, 10th Main Rd,Near Trident Hyundai Used Car Showroom Rajajinagar - Bangalore',
 'Near Ragigudda Temple ']

In [70]:
# Area in square feet

area = []
for i in nobroker_html.find_all('div',id='minRent'):
    area.append(i.text)
area

['1,990 sqft',
 '2,195 sqft',
 '1,780 sqft',
 '2,200 sqft',
 '1,255 sqft',
 '925 sqft',
 '1,420 sqft',
 '1,200 sqft',
 '2,750 sqft',
 '3,700 sqft',
 '1,100 sqft',
 '2,240 sqft',
 '2,628 sqft',
 '850 sqft',
 '1,780 sqft',
 '1,485 sqft',
 '650 sqft',
 '1,350 sqft',
 '1,300 sqft',
 '950 sqft',
 '1,280 sqft',
 '4,800 sqft',
 '975 sqft',
 '1,350 sqft',
 '1,645 sqft']

In [71]:
# EMI 

emi =[]
for i in nobroker_html.find_all('div',id='roomType'):
    emi.append(i.text.replace('/Month',''))
    
emi

['₹2.01 Lacs',
 '₹2.96 Lacs',
 '₹85,971',
 '₹2.29 Lacs',
 '₹56,741',
 '₹1.15 Lacs',
 '₹71,643',
 '₹74,508',
 '₹1.63 Lacs',
 '₹6.02 Lacs',
 '₹51,583',
 '₹83,679',
 '₹1.72 Lacs',
 '₹68,777',
 '₹84,825',
 '₹85,971',
 '₹28,657',
 '₹1.96 Lacs',
 '₹65,911',
 '₹73,505',
 '₹54,448',
 '₹2.29 Lacs',
 '₹28,657',
 '₹71,643',
 '₹94,568']

In [72]:
#Total price 

price =[]
for i in nobroker_html.find_all('div',class_='flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0'):
    price.append(i.text)
price

['₹3.5 Crores₹17,588 per sq.ft.',
 '₹5.16 Crores₹23,508 per sq.ft.',
 '₹1.5 Crores₹8,427 per sq.ft.',
 '₹4 Crores₹18,182 per sq.ft.',
 '₹99 Lacs₹7,888 per sq.ft.',
 '₹2 Crores₹21,622 per sq.ft.',
 '₹1.25 Crores₹8,803 per sq.ft.',
 '₹1.3 Crores₹10,833 per sq.ft.',
 '₹2.85 Crores₹10,364 per sq.ft.',
 '₹10.5 Crores₹28,378 per sq.ft.',
 '₹90 Lacs₹8,182 per sq.ft.',
 '₹1.46 Crores₹6,518 per sq.ft.',
 '₹3 Crores₹11,416 per sq.ft.',
 '₹1.2 Crores₹14,118 per sq.ft.',
 '₹1.48 Crores₹8,315 per sq.ft.',
 '₹1.5 Crores₹10,101 per sq.ft.',
 '₹50 Lacs₹7,692 per sq.ft.',
 '₹3.42 Crores₹25,324 per sq.ft.',
 '₹1.15 Crores₹8,846 per sq.ft.',
 '₹1.28 Crores₹13,500 per sq.ft.',
 '₹95 Lacs₹7,422 per sq.ft.',
 '₹4 Crores₹8,333 per sq.ft.',
 '₹50 Lacs₹5,128 per sq.ft.',
 '₹1.25 Crores₹9,259 per sq.ft.',
 '₹1.65 Crores₹10,030 per sq.ft.']

In [73]:
print(len(name),len(location),len(price))

25 25 25

In [74]:
#Resultant DataFrame

data = pd.DataFrame({'House_Title':name,'Location':location,'Area':area,'EMI':emi,'Price':price})
data

,House_Title,Location,Area,EMI,Price
0,3 BHK Apartment For Sale In Adarsh Court Apa...,Adarsh Court Apartment Adarsh Court Apartment...,"1,990 sqft",₹2.01 Lacs,"₹3.5 Crores₹17,588 per sq.ft."
1,4+ BHK In Independent House For Sale In Jaya...,"Independent House, 100ft Road, Ashoka Pillar R...","2,195 sqft",₹2.96 Lacs,"₹5.16 Crores₹23,508 per sq.ft."
2,3 BHK Flat For Sale In Beverly Apartments In...,Road next to Manyavar showroom,"1,780 sqft","₹85,971","₹1.5 Crores₹8,427 per sq.ft."
3,"3 BHK Flat For Sale In Hal 2nd Stage,indiran...","Standalone building, 16th F main, Hal 2nd stag...","2,200 sqft",₹2.29 Lacs,"₹4 Crores₹18,182 per sq.ft."
4,2 BHK Flat For Sale In Lakshmi Nivas Apartme...,"behind Vishnupriya Towers,Mahakavi Kuvempu Roa...","1,255 sqft","₹56,741","₹99 Lacs₹7,888 per sq.ft."
5,2 BHK In Independent House For Sale In Jayan...,"Independent House, Jayanagara 9th Block, near ...",925 sqft,₹1.15 Lacs,"₹2 Crores₹21,622 per sq.ft."
6,3 BHK Flat For Sale In Shanti Park Apartment...,Shanti Park Apartments,"1,420 sqft","₹71,643","₹1.25 Crores₹8,803 per sq.ft."
7,2 BHK Flat For Sale In Shree Enclave In Jay...,jayanagar Near Mahalakshmi Temple/Rajalakshmi ...,"1,200 sqft","₹74,508","₹1.3 Crores₹10,833 per sq.ft."
8,4 BHK Flat For Sale In Golfridge In Indira N...,embassy golf link road,"2,750 sqft",₹1.63 Lacs,"₹2.85 Crores₹10,364 per sq.ft."
9,4 BHK In Independent House For Sale In Jayan...,"Independent House, 47th Cross Rd, 8th Block, 1...","3,700 sqft",₹6.02 Lacs,"₹10.5 Crores₹28,378 per sq.ft."
10,2 BHK Apartment For Sale In Team Heritage Ap...,Team Heritage Apartments Team Heritage Apartm...,"1,100 sqft","₹51,583","₹90 Lacs₹8,182 per sq.ft."
11,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross Rd, 2nd Block ne...","2,240 sqft","₹83,679","₹1.46 Crores₹6,518 per sq.ft."
12,3 BHK Flat For Sale In Total Environment Lif...,"30th Cross Rd, 4th T Block , Jayanagar, Bengal...","2,628 sqft",₹1.72 Lacs,"₹3 Crores₹11,416 per sq.ft."
13,4+ BHK Flat For Sale In Nagapura,"Standalone Building, Bovipalya near Mahalakshm...",850 sqft,"₹68,777","₹1.2 Crores₹14,118 per sq.ft."
14,3 BHK Apartment For Sale In Ashiana Gardens ...,"Ashiana Gardens Apartments 4, Sri Rama Temple...","1,780 sqft","₹84,825","₹1.48 Crores₹8,315 per sq.ft."
15,3 BHK Flat For Sale In Mantri Gardens Apartm...,"Mantri Gardens Apartment, Jayanagar 1st Block,...","1,485 sqft","₹85,971","₹1.5 Crores₹10,101 per sq.ft."
16,1 BHK Flat For Sale In Rajajinagar In Rajaji...,"27th cross 2nd block rajajinagar,Behind Navran...",650 sqft,"₹28,657","₹50 Lacs₹7,692 per sq.ft."
17,4+ BHK In Independent House For Sale In Raja...,"Independent House, 72 Cross, 12th Main Rd, RPA...","1,350 sqft",₹1.96 Lacs,"₹3.42 Crores₹25,324 per sq.ft."
18,3 BHK Flat For Sale In Vaishali Residency In...,"Vaishali Residency, HAL 2nd Stage, Indiranagar...","1,300 sqft","₹65,911","₹1.15 Crores₹8,846 per sq.ft."
19,2 BHK In Independent House For Sale In Mariy...,"Independent House, Ramamohanapuram Near Masji...",950 sqft,"₹73,505","₹1.28 Crores₹13,500 per sq.ft."
20,2 BHK Flat For Sale In Shanthipark Apartment...,Opposite to Croma showroom,"1,280 sqft","₹54,448","₹95 Lacs₹7,422 per sq.ft."
21,4+ BHK Flat For Sale In Indiranagar,"Standalone Building, HAL 2nd Stage near New Ho...","4,800 sqft",₹2.29 Lacs,"₹4 Crores₹8,333 per sq.ft."
22,4 BHK In Independent House For Sale In Rajaj...,"Independent House, 4th Cross Rd M.R Palya, Mar...",975 sqft,"₹28,657","₹50 Lacs₹5,128 per sq.ft."
23,4+ BHK In Independent House For Sale In Raja...,"Independent House, 10th Main Rd,Near Trident H...","1,350 sqft","₹71,643","₹1.25 Crores₹9,259 per sq.ft."
24,3 BHK Flat For Sale In Raj Kamal Apartments ...,Near Ragigudda Temple,"1,645 sqft","₹94,568","₹1.65 Crores₹10,030 per sq.ft."

# 9.Write a python program to scrape mentioned details from dineout.co.in

In [75]:
# Request for access

dineout = requests.get('https://www.dineout.co.in/delhi-restaurants?loc=Delhi')
dineout

In [76]:
#loading HTML content

dineout_html = BeautifulSoup(dineout.content,'html.parser')

In [77]:
# Restuarent Name

name =[]
for i in dineout_html.find_all('div',class_='restnt-info cursor'):
    name.append(i.a.text)
name

['Local',
 'Tamasha',
 'The G.T. ROAD',
 'Out Of The Box Courtyard',
 'Ministry Of Beer',
 'The Junkyard Cafe',
 'Unplugged Courtyard',
 'Connaught Clubhouse Microbrewery',
 'Barbeque Nation',
 'QBA',
 "Chili's American Grill and Bar",
 '38 Barracks',
 'Farzi Cafe',
 'Sandoz',
 'Dasaprakash',
 'My Bar Square',
 'Station Bar',
 'Ardor 2.1 Restaurant and Lounge',
 'Wok in the Clouds',
 'Padmanabham',
 'Warehouse Cafe']

In [78]:
# Cuisine Name

cuisine = []
for i in dineout_html.find_all('div',class_='detail-info'):
    cuisine.append(i.text.replace('|',''))
cuisine

cuisine_na = []
for i in cuisine:
    cuisine_na.append(i[22:])

cuisine_na

['  North Indian, Asian, Italian, Middle Eastern, Tex Mex',
 '  Continental, Finger Food, Asian, Italian, North Indian1 offer available',
 '  North Indian6 offers available',
 '  North Indian, Oriental , American, Chinese, Continental, Fast Food, Italian, Pizza',
 '  Finger Food, North Indian, Italian, Continental, Asian, Oriental , Fusion',
 '  North Indian, Mediterranean, Asian, Italian, Oriental ',
 '  North Indian, Continental',
 '  Asian, Italian, Mexican1 deal and 2 offers available',
 '  North Indian, Barbecue, Mughlai1 deal and 7 offers available',
 '  North Indian, Oriental , Continental, Italian',
 '  Mexican, American, Tex Mex, Tex Mex1 offer available',
 '  North Indian, Italian, Chinese, Continental1 offer available',
 '  Modern Indian, Continental, Finger Food',
 '  North Indian, Chinese, Mughlai2 offers available',
 '  South Indian, Continental, North Indian, Oriental ',
 '  Finger Food, Chinese, Continental, Italian',
 '  Continental, Mediterranean, Italian, North Indian, Oriental ',
 '  Multi-Cuisine, Chinese, Continental, Italian, North Indian, Seafood1 offer available',
 '  Asian, Chinese, Thai, Continental, North Indian',
 'South Indian, North Indian, Street Food',
 '  Fusion, North Indian, Chinese, Italian2 offers available']

In [79]:
#location

location =[]
for i in dineout_html.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)
location

['Scindia House,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Janpath, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'F-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Janpath, Central Delhi',
 'Connaught Place, Central Delhi']

In [80]:
# Rating

rating =[]
for i in dineout_html.find_all('div',class_='restnt-rating rating-4'):
    rating.append(i.text)
rating

['4',
 '4.2',
 '4.3',
 '4.1',
 '4',
 '4.1',
 '4',
 '4.1',
 '4.4',
 '4.3',
 '4.4',
 '4.3',
 '4.2',
 '4',
 '4.2',
 '3.8',
 '4.1',
 '3.9',
 '4.3',
 '4.2',
 '4.1']

In [81]:
print(len(rating))

21

In [82]:
# image URL

image = []
for i in dineout_html.find_all('img',class_='no-img'):
    image.append(i['data-src'])
image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/x/t/p83921-16017104805f782990b9b0c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/a/d/p32381-1495943585592a49a166fe7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/p/p20298-1484731590587f34c63a2a1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/u/y/p20941-15700828565d959028e9f28.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/c/z/p77626-15833232035e5f98437554f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/h/a/p532-15773519235e047af31a57e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/e/p29906-16183962346076c44ac433d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/t/b/p31397-164157704361d87a53aa8ef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/q/p21171-1631359509613c92152f775.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/s/p/p20854-164157892261d881aa3e80b.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/u/p80493-16064603115fc0a397716de.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/x/t/p98423-1634644819616eb353a1181.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/m/i/p12709-15681189525d7798a8c5aa5.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/d/t/p971-15465830125c2efbe4260ab.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/s/p221-15968682845f2e46bc185f1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/f/s/p2669-1499666296596317787f36d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/t/r/p76678-15980881015f40e3a588f73.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/h/o/p420-15241335515ad86eaf373ce.jpg?tr=tr:n-medium']

In [83]:
#Data Frame

data=pd.DataFrame({'Restuarant_name':name,'Cuisine':cuisine_na,'Location':location,'Rating':rating,'Image_URL':image})
data.head()

,Restuarant_name,Cuisine,Location,Rating,Image_URL
0,Local,"North Indian, Asian, Italian, Middle Eastern...","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Tamasha,"Continental, Finger Food, Asian, Italian, No...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
2,The G.T. ROAD,North Indian6 offers available,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Out Of The Box Courtyard,"North Indian, Oriental , American, Chinese, ...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"Finger Food, North Indian, Italian, Continen...","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...

# 10.Write a python program to scrape first 10 product details which include product name,price,image URL from http://www.bewakoof.com/women-tshirts?ga_q=tshirts.

In [84]:
# Request for access

page = requests.get('https://www.bewakoof.com/women-tshirts?ga_q=tshirts')
page

In [85]:
# HTML content

page_html = BeautifulSoup(page.content,'html.parser')

In [86]:
#product_name 

name = [] 

for i in page_html.find_all('div',class_="productCardDetail"): 

    name.append(i.h3.text)
name

['Be A Rainbow Boyfriend T-Shirt',
 'Nenu Chepta Nuvvu Half Sleeve T-Shirt',
 'Shanti Minimal Half Sleeve T-Shirt',
 'Nenu Chepta Nuvvu Half Sleeve T-Shirt',
 'No Guts Glory Boyfriend T-Shirt Black',
 'Life Is Good Half Sleeve T-Shirt',
 'Life Is Good Half Sleeve T-Shirt',
 'Beach Blue Half Sleeve T-Shirt',
 'Butta Bomma Half Sleeve T-Shirt',
 'Nenu Chepta Nuvvu Half Sleeve T-Shirt']

In [87]:
# Price of the product

price = []
for i in page_html.find_all('div',class_='productPriceBox clearfix'):
    price.append(i.span.text)
price

['₹ 399',
 '₹ 349',
 '₹ 349',
 '₹ 349',
 '₹ 399',
 '₹ 349',
 '₹ 349',
 '₹ 249',
 '₹ 349',
 '₹ 349']

In [88]:
#image URL

image =[]
for i in page_html.find_all('img',class_='productImgTag'):
    image.append(i['src'])
image

['https://images.bewakoof.com/t320/be-a-rainbow-boyfriend-t-shirt-women-s-printed-boyfriend-t-shirts-271543-1581596152.jpg',
 'https://images.bewakoof.com/t320/nenu-chepta-nuvvu-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300925-1608010636.jpg',
 'https://images.bewakoof.com/t320/shanti-minimal-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300930-1608011319.jpg',
 'https://images.bewakoof.com/t320/nenu-chepta-nuvvu-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300939-1608010650.jpg',
 'https://images.bewakoof.com/t320/no-guts-glory-boyfriend-t-shirts-black-women-s-printed-boyfriend-t-shirts-293214-1603082689.jpg',
 'https://images.bewakoof.com/t320/life-is-good-half-sleeve-t-shirts-women-s-half-sleeve-printed-t-shirt-313953-1610098757.jpg',
 'https://images.bewakoof.com/t320/life-is-good-half-sleeve-t-shirts-women-s-half-sleeve-printed-t-shirt-313950-1610094603.jpg',
 'https://images.bewakoof.com/t320/aqua-sky-half-sleeve-t-shirt-women-s-plain-half-sleeves-t-shirt-329413-1614350444.jpg',
 'https://images.bewakoof.com/t320/butta-bomma-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300922-1608009783.jpg',
 'https://images.bewakoof.com/t320/nenu-chepta-nuvvu-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300900-1608010589.jpg']

In [89]:
print(len(name),len(price),len(image))

10 10 10

In [90]:
# Resultant DataFrame

data = pd.DataFrame({'Product_name':name,'Price':price,'Image_URL':image})
data

,Product_name,Price,Image_URL
0,Be A Rainbow Boyfriend T-Shirt,₹ 399,https://images.bewakoof.com/t320/be-a-rainbow-...
1,Nenu Chepta Nuvvu Half Sleeve T-Shirt,₹ 349,https://images.bewakoof.com/t320/nenu-chepta-n...
2,Shanti Minimal Half Sleeve T-Shirt,₹ 349,https://images.bewakoof.com/t320/shanti-minima...
3,Nenu Chepta Nuvvu Half Sleeve T-Shirt,₹ 349,https://images.bewakoof.com/t320/nenu-chepta-n...
4,No Guts Glory Boyfriend T-Shirt Black,₹ 399,https://images.bewakoof.com/t320/no-guts-glory...
5,Life Is Good Half Sleeve T-Shirt,₹ 349,https://images.bewakoof.com/t320/life-is-good-...
6,Life Is Good Half Sleeve T-Shirt,₹ 349,https://images.bewakoof.com/t320/life-is-good-...
7,Beach Blue Half Sleeve T-Shirt,₹ 249,https://images.bewakoof.com/t320/aqua-sky-half...
8,Butta Bomma Half Sleeve T-Shirt,₹ 349,https://images.bewakoof.com/t320/butta-bomma-h...
9,Nenu Chepta Nuvvu Half Sleeve T-Shirt,₹ 349,https://images.bewakoof.com/t320/nenu-chepta-n...